body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.page {
    margin-top: 50px;
}

.card-story {
    width: 280px;
    margin: 10px;
    float: left;
}

.card-body-story {
    height: 180px;
}

.card-title-story {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-story-image {
    height: 180px;
}

.card-story-details {
    font-size: .8em;
}

.card-story-actions {
    position: absolute;
    width: 85%;
    bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.favorite-btn {
    border: none;
    cursor: pointer;   
}

.favorite-btn:focus {
    outline: none;
}

.content-story {
    background: white;
}

.content-story img,
.content-story iframe {
    max-width: 80%;
    margin: auto;
    display: block;
}

.content-story-title {
    text-align: center;
    padding-top: 30px;
}

.content-story-main {
    padding: 30px;
    text-align: justify;
}

.search-input {
    margin-left: 10px;
    width: 80% !important;
}

.search-dropdown,
.search-dropdown:hover {
    background: #f8f9fa;
    color: black;
    width: 150px;
}